.page {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 70vh; 
  margin: 2%; 
}
.title {	
  width: 40rem;
  padding: 2rem 0;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  box-shadow: 0 7px 2rem rgb(5 39 20 / 57%);
  background: rgb(5 39 20 / 57%);
  border-radius: 3rem;
}
.ulList {
  gap: 1rem;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column; 
}
.list {
  width: 40rem;
  text-align: center;
  color: white;
  border-radius: 3rem;
  background: rgb(5 39 20 / 57%);
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
}