
/* Categories.module.css */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
    background-color: #f9f9f9; 
}
.main form {

  line-height: 24px;
   list-style-position: inside;
 }
